altair                                                        
argon2-cffi                                                   
astor                                                         
attrs                                                         
backcall                                                      
base58                                                        
bleach                                                        
blinker                                                       
cachetools                                                    
Camelot                                                       
certifi                                                       
cffi                                                          
chardet                                                       
charset-normalizer                                            
ci-info                                                       
click                                                         
click-plugins                                                 
cligj                                                         
colorama                                                      
configobj                                                     
configparser                                                  
cycler                                                        
debugpy                                                       
decorator                                                     
defusedxml                                                    
distro                                                        
Elixir                                                        
entrypoints                                                   
etelemetry                                                    
filelock                                                      
fitz                                                          
future                                                        
gitdb                                                         
GitPython                                                     
greenlet                                                      
httplib2                                                      
idna                                                          
ipykernel                                                     
ipython                                                       
ipython-genutils                                              
ipywidgets                                                    
isodate                                                       
jedi                                                          
Jinja2                                                        
jsonschema                                                    
jupyter-client                                                
jupyter-core                                                  
jupyterlab-pygments                                           
jupyterlab-widgets                                            
kiwisolver                                                    
lxml                                                          
MarkupSafe                                                    
matplotlib                                                    
matplotlib-inline                                             
mistune                                                       
munch                                                         
nbclient                                                      
nbconvert                                                     
nbformat                                                      
nest-asyncio                                                  
networkx                                                      
nibabel                                                       
nipype                                                        
notebook                                                      
numpy                                                         
packaging                                                     
pandas                                                        
pandocfilters                                                 
parso                                                         
pathlib                                                       
pbr                                                           
pickleshare                                                   
Pillow                                                        
pip-review                                                    
plotly                                                        
prometheus-client                                             
prompt-toolkit                                                
protobuf                                                      
prov                                                          
pyarrow                                                       
pycparser                                                     
pydeck                                                        
pydot                                                         
Pygments                                                      
PyMuPDF                                                       
pyparsing                                                     
pyproj                                                        
pyrsistent                                                    
python-dateutil                                               
pytz                                                          
pyxnat                                                        
pyzmq                                                         
rdflib                                                        
requests                                                      
scipy                                                         
Send2Trash                                                    
Shapely                                                       
simplejson                                                    
six                                                           
smmap                                                           4.0.0
SQLAlchemy                                                           1.4.25
sqlalchemy-migrate                                                           0.11.0
sqlparse                                                           0.4.2
streamlit                                                           0.89.0
tabula                                                           1.0.5
tabula-py                                                           2.3.0
Tempita                                                           0.5.2
tenacity                                                           8.0.1
terminado                                                           0.12.1
testpath                                                           0.5.0
toml                                                           0.10.2
toolz                                                           0.11.1
tornado                                                           6.1
traitlets                                                           5.1.0
traits                                                           6.2.0
typing-extensions                                                           3.10.0.2
tzdata                                                           2021.1
tzlocal                                                           3.0
urllib3                                                           1.26.7
validators                                                           0.18.2
watchdog                                                           2.1.5
wcwidth                                                           0.2.5
webencodings                                                           0.5.1
widgetsnbextension                                                           3.5.1
xlrd                                                           0.7.1
xlwt                                                           0.7.2